* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    height: 100vh;
    grid-template: auto 1fr auto / 950px 1fr auto;
    font-weight: 400;
    background-color: #eed5b7;
    font-family: "Roboto";
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background-color: black;
    margin-top: 100px;
    margin-left: -15px;
    margin-bottom: -50px;
}

nav a {
    background-color: black;
    color: white;
    padding: 30px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 20px;
}

nav a:hover {
    text-decoration: underline;
    text-decoration-color: white;
}

header {
    background: #ffffff;
    grid-column: 1 / 4;
    padding-left: 1rem;
    color: #000000;
    font-weight: 100;
    text-align: center;
    width: 100%;
    padding-top: 80px;
    margin-top: 0px;
    padding-bottom: 40px;
    font-family: "Tangerine";
    font-size: 30px;
}

footer {
    background: #ffffff;
    padding: 2rem;
    text-align: center;
    grid-column: 1 / 4;
    padding-bottom: 100px;
    padding-top: 100px;
    margin-top: 75px;
    color: #000000;
    font-weight: 900;
    line-height: 30px;
    font-family: "Roboto";
    margin-bottom: -275px;
}

main {
    display: grid;
    grid-template: auto 1fr auto / 600px 1fr auto;
    gap: 15px 550px;
    margin-top: 100px;
    margin-left: 150px;
    max-width: 100%;
    font-style: italic;
    font-size: 27px;
    text-align: left;
}

.space {
    margin-bottom: 50px;
}

.marginleft {
    margin-left: -200px;
    line-height: 100px;
}

.image {
    border-radius: 1rem;
    box-shadow: 4.0px 8.0px 8.0px hsl(0deg 0% 0% / 0.38);
}

.footer1 {
    background: #eed5b7;
    padding: 2rem;
    text-align: center;
    margin-top: 75px;
    color: #000000;
    font-weight: 900;
    line-height: 30px;
    font-family: "Roboto";
    margin-top: 1500px;
    margin-left: -950px;
    font-size: 40px;
}

.paralign {
    margin-right: 13px;
    margin-top: 20px;
    font-size: 40px;
    padding-bottom: 25px;
    font-family: "Tangerine";
    font-weight: 900;
}

input[type=text],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical
}

input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    margin-top: 100px;
    margin-left: -600px;
    margin-right: 80px;
}

.contact {
    margin-left: 700px;
    width: 100%;
}