* {
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: block;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    background: #00308F;
}

header {
    background: #00308F;
    grid-column: 1 / 4;
    padding-left: 1rem;
    color: white;
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    text-align: center;
    padding-top: 20px;
    font-size: 25px;
}

h1 {
    padding-top: 60px;
    padding-bottom: 100px;
}

.container2 {
    position: relative;
}

.head2 {
    position: absolute;
    bottom: 800px;
    right: 1500px;
    background-color: lightblue;
    color: white;
    padding-left: 20px;
    padding-right: 250px;
    font-size: 25px;
    padding-top: 40px;
    padding-bottom: 40px;
    z-index: 1;
    opacity: 0.7;
}

.head3 {
    position: absolute;
    padding-left: 20px;
    padding-right: 20px;
    background-color: black;
    color: white;
    padding-left: 20px;
    padding-right: 250px;
    font-size: 25px;
    bottom: 300px;
    right: 100px;
    padding-top: 40px;
    padding-bottom: 40px;
    z-index: 1;
    opacity: 0.7;
}

.head4 {
    position: absolute;
    background-color: white;
    color: black;
    padding-left: 20px;
    padding-right: 250px;
    font-size: 25px;
    top: 120px;
    left: 80px;
    padding-top: 150px;
    padding-bottom: 90px;
    border: solid green 20px;
    text-align: right;
    line-height: 40px;
}

.head5 {
    position: absolute;
    padding-left: 20px;
    padding-right: 20px;
    background-color: white;
    color: black;
    padding-left: 20px;
    padding-right: 250px;
    font-size: 25px;
    top: 620px;
    right: 40px;
    padding-top: 150px;
    padding-bottom: 40px;
    border: solid green 20px;
    text-align: right;
    line-height: 40px;
}

footer {
    background: #00308F;
    padding: 2rem;
    text-align: center;
    grid-column: 1 / 4;
    color: white;
    font-weight: 900;
    line-height: 30px;
    margin-top: -10px;
}

.hero {
    background-size: 100% 100%;
    width: 100%;
    height: auto;
    position: relative;
}