* {
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: block;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}

header {
    background: #00308F;
    grid-column: 1 / 4;
    padding-left: 1rem;
    color: white;
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    text-align: center;
    padding-bottom: 20px;
    padding-top: 60px;
    font-size: 25px;
}

h1 {
    padding-top: 60px;
    padding-bottom: 100px;
}

footer {
    background: #00308F;
    padding: 2rem;
    text-align: center;
    grid-column: 1 / 4;
    color: white;
    font-weight: 900;
    line-height: 30px;
    margin-top: -10px;
}

.hero {
    background-size: 100% 100%;
    width: 100%;
    height: auto;
    position: relative;
}