* {
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    background: white;
    max-width: 100% !important;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden !important;

}

header {
    background: brown;
    grid-column: 1 / 4;
    padding-left: 1rem;
    color: white;
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    text-align: center;
    padding-top: 20px;
    font-size: 15px;
}

h1 {
    padding-top: 60px;
    padding-bottom: 100px;
}

.head2 {
    position: absolute;
    margin-top: 150px;
    margin-left: 80px;
    text-align: center;
    color: black;
    background-color: transparent;
    font-size: 20px;
    padding-top: 20px;
    padding-bottom: 40px;
}

.head3 {
    position: absolute;
    color: black;
    font-size: 25px;
    margin-bottom: -975px;
    background-color: transparent;
    font-size: 20px;
    margin-right: -130px;
}

.head4 {
    position: absolute;
    color: black;
    padding-left: 20px;
    padding-right: 30px;
    background-color: transparent;
    border: transparent;
    font-size: 15px;
    margin-top: 80px;
    line-height: 40px;
}

.head5 {
    position: absolute;
    background-color: transparent;
    color: black;
    padding-left: 20px;
    padding-right: 120px;
    font-size: 15px;
    line-height: 40px;
    margin-bottom: -930px;
    margin-right: -40px;
}

footer {
    background: brown;
    padding: 2rem;
    text-align: center;
    grid-column: 1 / 4;
    color: white;
    font-weight: 900;
    line-height: 30px;
    margin-top: 800px;
}

.weather {
    position: absolute;
    margin-bottom: 60px;
    margin-left: -150px;
}


/* large view navigation ************************************/
@media (min-width: 75.0em) {
    * {
        margin: 0px;
        padding: 0;
        box-sizing: border-box;
    }

    body {
        display: block;
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        background: brown;
    }

    header {
        background: brown;
        grid-column: 1 / 4;
        padding-left: 1rem;
        color: white;
        font-family: "Roboto", sans-serif;
        font-weight: 100;
        text-align: center;
        padding-top: 20px;
        font-size: 25px;
    }

    h1 {
        padding-top: 60px;
        padding-bottom: 100px;
    }

    .container2 {
        position: relative;
    }

    .head2 {
        position: absolute;
        background-color: brown;
        color: white;
        padding-left: 20px;
        padding-right: 350px;
        font-size: 20px;
        padding-top: 40px;
        padding-bottom: 40px;
        z-index: 1;
        opacity: 0.9;
        top: -30px;
        left: -40px;
    }

    .head3 {
        position: absolute;
        background-color: brown;
        color: white;
        padding-left: 50px;
        padding-right: 140px;
        font-size: 25px;
        bottom: 1260px;
        right: 210px;
        padding-top: 40px;
        padding-bottom: 40px;
        z-index: 1;
        opacity: 0.9;
    }

    .head4 {
        position: absolute;
        background-color: white;
        color: black;
        padding-left: 20px;
        padding-right: 120px;
        font-size: 25px;
        top: 10px;
        left: 80px;
        padding-top: 170px;
        padding-bottom: 90px;
        border: solid white;
        text-align: left;
        line-height: 40px;
        opacity: 0.7;
    }

    .head5 {
        position: absolute;
        background-color: white;
        color: black;
        padding-left: 20px;
        padding-right: 120px;
        font-size: 25px;
        bottom: 1000px;
        right: 70px;
        padding-top: 170px;
        padding-bottom: 40px;
        text-align: left;
        line-height: 40px;
        opacity: 0.7;
    }

    footer {
        background: brown;
        padding: 2rem;
        text-align: center;
        grid-column: 1 / 4;
        color: white;
        font-weight: 900;
        line-height: 30px;
        margin-top: -10px;
    }

    .hero {
        background-size: 100% 100%;
        width: 100%;
        height: auto;
        position: relative;
    }

    .weather {
        position: absolute;
        bottom: -20px;
        left: 375px;
    }
}